# Database
MONGO_URI=mongodb://127.0.0.1:27017
DB_NAME=SHAREXPRESS

# JWT Security
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=RS256
JWT_EXPIRES=7

# Cloudinary (if applicable)
CLOUD_NAME=your_cloud_name
api_key=your_api_key
api_secret=your_api_secret

# Email Server
MAIL_USERNAME=noreply@yourdomain.com
MAIL_PASSWORD=your_smtp_password
MAIL_SERVER=smtp.yourdomain.com
MAIL_PORT=465

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# App Environment
PROJECT_ENVIRONMENT=DEVELOPMENT # DEVELOPMENT or PRODUCTION
SESSION_SECRET=your_dev_session_secret

# MinIO / AWS S3 Storage
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_REGION=us-east-1
MINIO_BUCKET=uploads
MINIO_ENDPOINT_PUBLIC=https://drive.yourdomain.com
MINIO_ENDPOINT_INTERNAL=http://127.0.0.1:9000

# Frontend URL Configuration
FRONTEND_URI=http://localhost:5173

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
